ENVIRONMENT=develop
LOG_LEVEL=DEBUG
HTTP_PORT=8000
BASE_URL=http://localhost:8000/v1/
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=dbname
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpass
POSTGRES_CONNECTION_TIMEOUT=5
POSTGRES_CONNECTION_TRY=10
SIGN_IN_KEY=defaultsigningkey
AUTH_CONFIG_PATH=./config/auth.conf
CSV_FILE_PATH=./config/auth.csv
SMTP_EMAIL=email
SMTP_EMAIL_PASS=pass
SMTP_HOST=host
SMTP_PORT=port
REDIS_HOST=localhost
REDIS_PORT=6379
OTP_TIMEOUT=300
CONTEXT_TIMOUT=7
ACCESS_TOKEN_TIMEOUT=300
MAX_IMAGE_SIZE=5